.scale-in-center {
  -webkit-animation: scale-in-center 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

#about-card {
  top: 30%;
}

@media (min-width: 1025px) {
  #about-card {
    bottom: 40;
    left: 70;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  #about-card {
    top: 20;
  }
}
